<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="{{ asset('images/logo-b.png') }}" alt="Logo" height="40"> <!-- Ajoutez cette ligne -->
        <a class="navbar-brand fs-3">oigneMoi</a>
        <button class="navbar-toggler fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-4">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_home_page') }}">Accueil</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fs-4">
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin') }}">Administration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_schedule') }}">Emploi du temps</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_PATIENT') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_create_visit') }}">Programmer un séjour</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_profile') }}">Mon compte</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_create_visit') }}">Programmer un séjour</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>